name: Build & Deploy Demo

on:
  push:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    environment: gcp-demo

    steps:
      - uses: actions/checkout@v3

      - name: Setup Node
        uses: actions/setup-node@v3
        with:
          node-version: '20'

      - name: Install frontend dependencies
        run: |
          if [ -f frontend/package.json ]; then
            cd frontend
            npm install
            npm run build
          else
            echo "No frontend folder, skipping..."
          fi

      - name: Install backend dependencies
        run: |
          cd backend
          npm install
          npm run build