name: Deploy to Google Cloud

on:
  workflow_dispatch:

jobs:
  deploy:
    runs-on: ubuntu-latest
    environment: gcp-demo   # Reference your environment

    permissions:
      contents: 'read'
      id-token: 'write'

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Authenticate to Google Cloud
        uses: google-github-actions/auth@v1
        with:
          workload_identity_provider: "${{ vars.GCP_WORKLOAD_ID_PROVIDER }}"
          service_account: "${{ vars.GCP_SA_EMAIL }}"

      - name: Set up gcloud
        uses: google-github-actions/setup-gcloud@v1
        with:
          project_id: "${{ vars.GCP_PROJECT_ID }}"

      - name: Verify authentication
        run: |
          gcloud auth list
          gcloud config list project
